
    <main class="container-fluid d-flex flex-column align-items-center">
      <h1>Blog</h1>
      <div class="container-fluid d-flex justify-content-center flex-wrap">
        {{#each listeArticle}}
          <div id="article" class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><a href="/detailArticle/{{this.id}}" class="card-link">{{this.titre}}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.date}}</h6>
                <p class="card-text"> 
                  {{this.contenu}}
              </p>
              </div>
            </div>
        {{/each}}
      </div>
    </main>
    
