    <main class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <h1>Nous contacter</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{#if erreursForms}}
                    {{#each erreursForms}}
                        <h6 class="erreurs">{{this.msg}}</h6>
                    {{/each}}
                {{/if}}
                {{#if nouveauContact}}
                    <h6 class="valide">Demande Envoyée</h6>
                {{/if}}
                


            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/contact" method="post">
                    <label for="nom">Nom :</label>
                    <input type="text" name="nom" id="nom" value="{{formData.nom}}">
                    <label for="prenom">Prénom :</label>
                    <input type="text" name="prenom" id="prenom" value="{{formData.prenom}}">
                    <label for="courriel">Adresse courriel :</label>
                    <input type="email" name="courriel" id="courriel" value="{{formData.courriel}}">
                    <label for="telephone">Numéro de téléphone :</label>
                    <input type="tel" name="telephone" id="telephone">
                    <label for="sujet">Sujet de la demande :</label>
                    <select name="sujet" id="sujet">
                        <option value="" selected></option>
                        <option value="formation">Demande de formation</option>
                        <option value="inscription">Inscription</option>
                    </select>
                    <label for="champ">Champ de la demande :</label>
                    <textarea name="champ" id="champ" cols="50" rows="5"></textarea>
                    <input type="submit" value="Envoyer">
                </form>
            </div>

        </div>
       
    </main>