    <main class="container-fluid">
        <h1><a href=""></a>{{detailFormation.nom}}</h1>
        <h4><a href=""></a>{{detailFormation.description}}</h4>
        <h5><a href=""></a>{{detailFormation.prix}}</h5>
    </main>