    <main class="container-fluid d-flex justify-content-center">
        <div class="card carte-formation" style="width: 18rem;">
            <a href="/mongo"><img src="/images/mongodb.jpg" class="card-img-top" alt="Mongo db"></a>
            <div class="card-body">
              <p class="card-text">Découvrez la panoplie des formations Mongo Db</p>
            </div>
          </div>

          <div class="card carte-formation" style="width: 18rem;">
            <a href="/node"><img src="/images/nodejs.png" class="card-img-top" alt="Node Js"></a>
            <div class="card-body">
              <p class="card-text">Découvrez toutes nos formations Node Js</p>
            </div>
          </div>
    </main>