    <main class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Présentation de notre école</h1>
            </div>
            <div class="col-6 mt-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Etiam non quam lacus suspendisse faucibus interdum 
                    posuere lorem ipsum. A arcu cursus vitae congue. 
                    Orci porta non pulvinar neque. Viverra justo nec ultrices 
                    dui sapien eget. Nunc lobortis mattis aliquam faucibus purus 
                    in massa. Id faucibus nisl tincidunt eget nullam non nisi. 
                    Id cursus metus aliquam eleifend mi in. Venenatis a condimentum
                 vitae sapien pellentesque habitant morbi. 
                 Sed egestas egestas fringilla phasellus. 
                 Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. 
                 Eget felis eget nunc lobortis mattis aliquam faucibus purus in. 
                    Ut sem viverra aliquet eget sit amet.
                </p>
            </div>
            <div class="col-6 mt-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Etiam non quam lacus suspendisse faucibus interdum 
                    posuere lorem ipsum. A arcu cursus vitae congue. 
                    Orci porta non pulvinar neque. Viverra justo nec ultrices 
                    dui sapien eget. Nunc lobortis mattis aliquam faucibus purus 
                    in massa. Id faucibus nisl tincidunt eget nullam non nisi. 
                    Id cursus metus aliquam eleifend mi in. Venenatis a condimentum
                 vitae sapien pellentesque habitant morbi. 
                 Sed egestas egestas fringilla phasellus. 
                 Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. 
                 Eget felis eget nunc lobortis mattis aliquam faucibus purus in. 
                    Ut sem viverra aliquet eget sit amet.
                </p>
            </div>
            <div class="col-6 mt-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Etiam non quam lacus suspendisse faucibus interdum 
                    posuere lorem ipsum. A arcu cursus vitae congue. 
                    Orci porta non pulvinar neque. Viverra justo nec ultrices 
                    dui sapien eget. Nunc lobortis mattis aliquam faucibus purus 
                    in massa. Id faucibus nisl tincidunt eget nullam non nisi. 
                    Id cursus metus aliquam eleifend mi in. Venenatis a condimentum
                 vitae sapien pellentesque habitant morbi. 
                 Sed egestas egestas fringilla phasellus. 
                 Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. 
                 Eget felis eget nunc lobortis mattis aliquam faucibus purus in. 
                    Ut sem viverra aliquet eget sit amet.
                </p>
            </div>
            <div class="col-6 mt-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Etiam non quam lacus suspendisse faucibus interdum 
                    posuere lorem ipsum. A arcu cursus vitae congue. 
                    Orci porta non pulvinar neque. Viverra justo nec ultrices 
                    dui sapien eget. Nunc lobortis mattis aliquam faucibus purus 
                    in massa. Id faucibus nisl tincidunt eget nullam non nisi. 
                    Id cursus metus aliquam eleifend mi in. Venenatis a condimentum
                 vitae sapien pellentesque habitant morbi. 
                 Sed egestas egestas fringilla phasellus. 
                 Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. 
                 Eget felis eget nunc lobortis mattis aliquam faucibus purus in. 
                    Ut sem viverra aliquet eget sit amet.
                </p>
            </div>
        </div>
    </main>
