    <main class="container-fluid">
        <h2>Nos formations {{title}}</h2>
        {{#each tabFormations}}
        <ul>
            <li><a href="/detailsFormation/{{this.id}}">{{this.nom}}</a></li>
        </ul>
            
        {{/each}}
    </main>