*{
  font-family: 'Redressed', cursive;
}
header{
  background-color: rgb(5, 3, 31);
}
header ul{
  margin: 0 auto;
}
.navbar-nav li{
  margin-left: 70px;
  font-size: 1.3rem;
}
#menu-deroulant{
  background-color: rgb(5, 3, 31);
}
#menu-deroulant a{
  color: white;
}
#menu-deroulant a:hover{
  color: black;
}

main{
  margin-top: 80px;
}
main form label, main form input[type="submit"]{
  display: block;
  margin-top: 20px;
}
input , textarea, select{
  width: 300px;
  height: 40px;
  border : 0.2px solid rgba(128, 128, 128, 0.671);
  border-radius: 10px;
}
footer{
  margin-top: 100px;
  background-color:rgb(5, 3, 31);
  min-height: 70px;
  color: rgba(255, 255, 255, 0.404);
}

footer .col{
  padding-top: 30px;
}

.carte-formation{
  min-height: 350px;
  margin-left: 40px;
  border: 0.5px solid gray;
}
#article{
  min-width: 400px;
  min-height: fit-content;
  margin-left: 10px;
  margin-top: 20px;
}
ul{
  list-style-type: none;
}
ul li a{
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(18, 13, 87);
}

ul li a:hover{
  text-decoration: none;
  color: rgb(182, 11, 68);
}

.erreurs{
  padding: 15px;
  background-color: rgb(182, 11, 68);
  color: white;
}

.valide{
  padding: 15px;
  background-color: rgb(11, 182, 139);
  color: white;
}